body {
    background-color: black;
    overflow:hidden;
}

#offline-load {
    display: none;
}

div {
    font-family: Arial, Helvetica, sans-serif;
}



#main-window {
    display: table;
    margin: 0 auto;
    border: 1px solid;
    position: relative;
    background-color: white;
    width: 1600px;
    height: 900px;
    transform-origin: top left;
}


#inner-window {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}



#toc-book-title {
    text-align: center;
    margin-top: 15px;
    font-weight: bold;
    font-size: 16pt;
    text-decoration: underline;
}

#content {
    transition: margin-left .5s;
    width: 100%;
    height: 100%;
}


#toc {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    background-color: lightgray;
}

    #toc #menu-close {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
        text-decoration: none;
    }

    #toc #pageList .nav-link {
        border-bottom: 1px solid black;
        position: relative;
        cursor: pointer;
        padding: 10px;
    }

        #toc #pageList .nav-link:hover {
            background-color: darkgray;
            color: white;
        }

        #toc #pageList .nav-link .text {
        }

        #toc #pageList .nav-link .plusMinus {
            position: absolute;
            right: 15px;
            top: 10px;
        }

        #toc #pageList .nav-link .pageCounter {
            position: absolute;
            right: 15px;
            top: 10px;
        }

    #toc #pageList .module {
        font-weight: bold;
        font-size: 14pt;
        border-left: 1px solid black;
    }

    #toc #pageList .section {
        font-style: italic;
        margin-left: 10px;
        border-left: 1px solid black;
    }

    #toc #pageList .chapter {
        margin-left: 20px;
        font-size: 10pt;
        border-left: 1px solid black;
    }
    #toc #pageList .activeChapter {
        background-color:gray;
        color:white;
    }

#menu-open {
    float: left;
    margin-left: -1px;
    margin-top: 10px;
    border: 1px solid white;
    padding: 8px;
    background-color: blue;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

#pageList {
    position: absolute;
    top: 50px;
    left: 20px;
    overflow-y: auto;
    width: 85%;
}

    #pageList .sub-links {
        display: none;
        transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    }








#loading {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: lightgray;
    display: none;
}

    #loading #loading-box {
        margin-left: 35%;
        margin-top: 15%;
        background: white;
        display: block;
        width: 280px;
        border-radius: 10px;
        border: 4px gray outset;
    }

        #loading #loading-box #loading-text {
            text-align: center;
            padding-bottom: 20px;
            font-style: italic;
        }





#header, #footer {
    width: 100%;
    overflow: auto;
    position: absolute
}

#footer {
    bottom: 0;
    left: 0;
    background-color:silver;
    height: 45px;
}

#header {
    top: 0;
    left: 0;
    background-color: green;
    height: 99px;
}

    #header #top-bar, #sections, #chapters {
        width: 100%;
        height: 33px;
    }

    #header #top-bar {
        background-color: red;
    }

    #header #sections {
        background-color: orange;
    }

    #header #chapters {
        background-color: pink;
    }



#previous-button,#next-button,#page-dots{height:35px;float:left;}
#next-button, #previous-button {
    color: white;
    width: 180px;
    cursor: pointer;
    font-size: 18pt;
    text-align: center;
    padding-top: 10px;
    font-weight: bold;
}
#previous-button {
    background-color:blue;
    border-top-right-radius:10px;
    border-bottom-right-radius:10px;
}
#next-button {
    background-color: green;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
#page-dots{width:1240px;}



#page-content {
    margin-top: 99px;
    height: 756px;
    position:relative;
}
#page-content .item {
    position:absolute;
}

#page-content .inner-text {
    /*position:relative;*/
}

#page-content .bold {
    font-weight: bold;
}
