#page-content {
    padding: 15px;
    margin-top: 135px;
    height: 691px;
    position: relative;
    font-size: 14pt;
}

    #page-content .item {
        position: absolute;
    }

    #page-content .inner-text {
        /*position:relative;*/
    }

    #page-content .header {
        font-size: 18pt;
        font-weight: bold;
    }
