<book name="Test Book" version="1" createdate="20180806" modifydate="20180806" author="Thomas Smale">
    <module id="m_1" name="Module 1" color="#10415e" theme="1">
        <section id="s_1" name="Section 1">
            <chapter id="c_1" name="Chapter 1">
                <page id="p_1" type="content">
                    <text>slow-carb</text>
                </page>
                <page id="p_2" type="content"></page>
                <page id="p_3" type="content">
                    <text>snackwave</text>
                    <text>Letterpress</text>
                </page>
                <page id="p_4" type="content">
                    <text>tote</text>
                    <text>Lorem</text>
                    <text>pok</text>
                    <text>typewriter</text>
                    <text>offal</text>
                    <text>chartreuse</text>
                </page>
                <page id="p_5" type="content">
                    <text>gastropub</text>
                    <text>tumeric</text>
                    <text>bread</text>
                </page>
            </chapter>
            <chapter id="c_2" name="Chapter 2">
                <page id="p_6" type="content">
                    <text>mustache</text>
                    <text>meggings</text>
                    <text>bag.</text>
                    <text>mumblecore.</text>
                    <text>moon</text>
                </page>
                <page id="p_7" type="content">
                    <text>bag.</text>
                    <text>stumptown</text>
                    <text>bread</text>
                    <text>3</text>
                    <text>swag</text>
                    <text>gluten-free</text>
                    <text>wolf</text>
                    <text>cloud</text>
                    <text>wolf</text>
                    <text>Letterpress</text>
                </page>
                <page id="p_8" type="content">
                    <text>rights</text>
                    <text>wolf</text>
                    <text>Letterpress</text>
                </page>
                <page id="p_9" type="content">
                    <text>moon</text>
                    <text>whatever</text>
                </page>
            </chapter>
            <chapter id="c_3" name="Chapter 3">
                <page id="p_10" type="content">
                    <text>mustache</text>
                    <text>cray</text>
                    <text>stumptown</text>
                </page>
                <page id="p_11" type="content">
                    <text>tote</text>
                    <text>amet</text>
                    <text>cray</text>
                    <text>bag.</text>
                    <text>snackwave</text>
                    <text>pok</text>
                </page>
                <page id="p_12" type="content">
                    <text>mustache</text>
                    <text>tousled.</text>
                    <text>pok</text>
                    <text>bag.</text>
                    <text>Fingerstache</text>
                    <text>semiotics</text>
                    <text>green</text>
                    <text>gastropub</text>
                    <text>wolf</text>
                </page>
            </chapter>
        </section>
        <section id="s_2" name="Section 2">
            <chapter id="c_4" name="Chapter 1">
                <page id="p_13" type="content">
                    <text>amet</text>
                    <text>bag.</text>
                    <text>authentic,</text>
                    <text>dolor</text>
                    <text>crucifix</text>
                </page>
                <page id="p_14" type="content"></page>
                <page id="p_15" type="content"></page>
                <page id="p_16" type="content">
                    <text>juice</text>
                    <text>dolor</text>
                    <text>bread</text>
                    <text>moon</text>
                    <text>dolor</text>
                    <text>authentic,</text>
                </page>
                <page id="p_17" type="content">
                    <text>ipsum</text>
                    <text>iPhone</text>
                    <text>tumeric</text>
                    <text>lyft</text>
                </page>
            </chapter>
            <chapter id="c_5" name="Chapter 2">
                <page id="p_18" type="content">
                    <text>authentic.</text>
                    <text>neutra</text>
                    <text>meggings</text>
                    <text>juice</text>
                    <text>whatever</text>
                    <text>meggings</text>
                    <text>iPhone</text>
                    <text>ipsum</text>
                    <text>gluten-free</text>
                    <text>snackwave</text>
                </page>
                <page id="p_19" type="content">
                    <text>iPhone</text>
                    <text>tousled.</text>
                    <text>swag</text>
                    <text>letterpress</text>
                    <text>gluten-free</text>
                    <text>pok</text>
                </page>
                <page id="p_20" type="content">
                    <text>green</text>
                    <text>ipsum</text>
                    <text>gastropub</text>
                </page>
                <page id="p_21" type="content">
                    <text>lyft</text>
                    <text>moon</text>
                    <text>meggings</text>
                    <text>meggings</text>
                    <text>chartreuse</text>
                    <text>neutra</text>
                    <text>authentic.</text>
                </page>
            </chapter>
        </section>
        <section id="s_3" name="Section 3">
            <chapter id="c_6" name="Chapter 1">
                <page id="p_22" type="content">
                    <text>pok</text>
                    <text>mixtape</text>
                    <text>neutra</text>
                    <text>wolf</text>
                    <text>gastropub</text>
                    <text>tumeric</text>
                    <text>crucifix</text>
                    <text>pok</text>
                    <text>letterpress</text>
                    <text>moon</text>
                </page>
                <page id="p_23" type="content">
                    <text>lyft</text>
                    <text>cray</text>
                    <text>amet</text>
                    <text>gastropub</text>
                    <text>mixtape</text>
                    <text>Letterpress</text>
                    <text>green</text>
                    <text>snackwave</text>
                    <text>crucifix</text>
                </page>
            </chapter>
            <chapter id="c_7" name="Chapter 2">
                <page id="p_24" type="content">
                    <text>tousled.</text>
                    <text>snackwave</text>
                </page>
                <page id="p_25" type="content"></page>
                <page id="p_26" type="content">
                    <text>amet</text>
                    <text>letterpress</text>
                    <text>tousled.</text>
                    <text>letterpress</text>
                    <text>stumptown</text>
                    <text>cloud</text>
                    <text>mustache,</text>
                    <text>rights</text>
                </page>
                <page id="p_27" type="content">
                    <text>Lyft</text>
                    <text>Fingerstache</text>
                    <text>letterpress</text>
                    <text>letterpress</text>
                    <text>mustache</text>
                    <text>gastropub</text>
                    <text>mustache,</text>
                    <text>dolor</text>
                    <text>pok</text>
                    <text>dolor</text>
                </page>
                <page id="p_28" type="content">
                    <text>iPhone</text>
                    <text>cloud</text>
                    <text>snackwave</text>
                </page>
                <page id="p_29" type="content">
                    <text>bicycle</text>
                    <text>gluten-free</text>
                    <text>bag.</text>
                    <text>moon</text>
                    <text>pok</text>
                    <text>tote</text>
                </page>
                <page id="p_30" type="content">
                    <text>cloud</text>
                    <text>cloud</text>
                    <text>pok</text>
                    <text>cloud</text>
                    <text>lyft</text>
                    <text>lyft</text>
                    <text>Fingerstache</text>
                    <text>authentic,</text>
                    <text>rights</text>
                    <text>pok</text>
                </page>
            </chapter>
            <chapter ic="c_8" name="Chapter 3">
                <page id="p_31" type="content">
                    <text>swag</text>
                    <text>tote</text>
                    <text>bread</text>
                    <text>whatever</text>
                    <text>3</text>
                </page>
                <page id="p_32" type="content">
                    <text>mustache</text>
                    <text>gastropub</text>
                    <text>crucifix</text>
                    <text>iPhone</text>
                </page>
                <page id="p_33" type="content">
                    <text>pok</text>
                    <text>whatever</text>
                </page>
                <page id="p_34" type="content">
                    <text>tote</text>
                    <text>iPhone</text>
                    <text>Fingerstache</text>
                    <text>Lyft</text>
                    <text>tousled.</text>
                    <text>juice</text>
                    <text>Letterpress</text>
                    <text>gluten-free</text>
                </page>
                <page id="p_35" type="content">
                    <text>juice</text>
                    <text>Fingerstache</text>
                    <text>3</text>
                    <text>juice</text>
                </page>
                <page id="p_36" type="content">
                    <text>gastropub</text>
                    <text>tote</text>
                    <text>green</text>
                </page>
                <page id="p_37" type="content">
                    <text>Lorem</text>
                    <text>green</text>
                </page>
            </chapter>
            <chapter id="c_9" name="Chapter 4">
                <page id="p_38" type="content">
                    <text>tote</text>
                    <text>moon</text>
                </page>
                <page id="p_39" type="content">
                    <text>mustache</text>
                    <text>mustache,</text>
                    <text>slow-carb</text>
                    <text>stumptown</text>
                    <text>bread</text>
                    <text>bicycle</text>
                    <text>stumptown</text>
                    <text>lyft</text>
                    <text>moon</text>
                </page>
                <page id="p_40" type="content"></page>
            </chapter>
            <chapter id="c_10" name="Chapter 5">
                <page id="p_41" type="content">
                    <text>pok</text>
                    <text>snackwave</text>
                    <text>snackwave</text>
                    <text>swag</text>
                    <text>bag.</text>
                    <text>iPhone</text>
                    <text>stumptown</text>
                    <text>pok</text>
                </page>
                <page id="p_42" type="content">
                    <text>letterpress</text>
                    <text>Letterpress</text>
                    <text>letterpress</text>
                    <text>offal</text>
                    <text>cloud</text>
                    <text>gastropub</text>
                    <text>slow-carb</text>
                    <text>gluten-free</text>
                </page>
                <page id="p_43" type="content">
                    <text>ipsum</text>
                    <text>chartreuse</text>
                    <text>gluten-free</text>
                    <text>tote</text>
                    <text>Lorem</text>
                    <text>Lyft</text>
                    <text>moon</text>
                </page>
                <page id="p_44" type="content">
                    <text>Lorem</text>
                    <text>mustache</text>
                    <text>gluten-free</text>
                    <text>iPhone</text>
                    <text>pok</text>
                    <text>mustache,</text>
                </page>
                <page id="p_45" type="content">
                    <text>bag.</text>
                    <text>Lorem</text>
                    <text>gluten-free</text>
                    <text>stumptown</text>
                    <text>Letterpress</text>
                </page>
            </chapter>
        </section>
    </module>
    <module id="m_2" name="Module 2" color="#6eb4d6" theme="1">
        <section id="s_4" name="Section 1">
            <chapter id="c_11" name="Chapter 1">
                <page id="p_46" type="content">
                    <text>stumptown</text>
                    <text>pok</text>
                    <text>bicycle</text>
                    <text>lyft</text>
                    <text>cray</text>
                </page>
                <page id="p_47" type="content"></page>
                <page id="p_48" type="content">
                    <text>moon</text>
                    <text>wolf</text>
                    <text>offal</text>
                    <text>pok</text>
                    <text>semiotics</text>
                    <text>3</text>
                    <text>tousled.</text>
                    <text>offal</text>
                </page>
                <page id="p_49" type="content">
                    <text>typewriter</text>
                    <text>slow-carb</text>
                    <text>Lorem</text>
                    <text>green</text>
                    <text>typewriter</text>
                    <text>lyft</text>
                    <text>moon</text>
                    <text>iPhone</text>
                    <text>green</text>
                    <text>Lyft</text>
                </page>
                <page id="p_50" type="content">
                    <text>3</text>
                    <text>authentic.</text>
                    <text>snackwave</text>
                    <text>tumeric</text>
                    <text>whatever</text>
                    <text>semiotics</text>
                    <text>tote</text>
                    <text>bicycle</text>
                </page>
            </chapter>
            <chapter id="c_12" name="Chapter 2">
                <page id="p_51" type="content">
                    <text>3</text>
                    <text>Letterpress</text>
                    <text>tumeric</text>
                    <text>slow-carb</text>
                    <text>dolor</text>
                    <text>cray</text>
                    <text>mumblecore.</text>
                </page>
                <page id="p_52" type="content">
                    <text>stumptown</text>
                    <text>swag</text>
                </page>
                <page id="p_53" type="content">
                    <text>iPhone</text>
                    <text>rights</text>
                    <text>letterpress</text>
                    <text>semiotics</text>
                    <text>whatever</text>
                    <text>wolf</text>
                </page>
                <page id="p_54" type="content">
                    <text>3</text>
                    <text>wolf</text>
                    <text>amet</text>
                    <text>slow-carb</text>
                    <text>crucifix</text>
                    <text>moon</text>
                    <text>wolf</text>
                    <text>mixtape</text>
                </page>
            </chapter>
            <chapter id="c_13" name="Chapter 3">
                <page id="p_55" type="content">
                    <text>stumptown</text>
                    <text>mustache</text>
                </page>
                <page id="p_56" type="content">
                    <text>letterpress</text>
                </page>
                <page id="p_57" type="content">
                    <text>wolf</text>
                    <text>bread</text>
                    <text>mumblecore.</text>
                    <text>Lyft</text>
                </page>
            </chapter>
        </section>
        <section id="s_5" name="Section 2">
            <chapter id="c_14" name="Chapter 1">
                <page id="p_58" type="content"></page>
                <page id="p_59" type="content"></page>
                <page id="p_60" type="content">
                    <text>pok</text>
                    <text>ipsum</text>
                    <text>mumblecore.</text>
                    <text>mustache,</text>
                    <text>wolf</text>
                    <text>neutra</text>
                    <text>bicycle</text>
                    <text>iPhone</text>
                    <text>typewriter</text>
                    <text>bag.</text>
                </page>
                <page id="p_61" type="content">
                    <text>lyft</text>
                    <text>rights</text>
                    <text>rights</text>
                    <text>whatever</text>
                    <text>mixtape</text>
                    <text>Letterpress</text>
                    <text>typewriter</text>
                    <text>tousled.</text>
                </page>
                <page id="p_62" type="content"></page>
            </chapter>
            <chapter id="c_15" name="Chapter 2">
                <page id="p_63" type="content">
                    <text>slow-carb</text>
                    <text>pok</text>
                    <text>pok</text>
                    <text>dolor</text>
                    <text>authentic.</text>
                </page>
                <page id="p_64" type="content">
                    <text>neutra</text>
                    <text>mustache,</text>
                    <text>typewriter</text>
                    <text>swag</text>
                    <text>amet</text>
                </page>
                <page id="p_65" type="content"></page>
                <page id="p_66" type="content">
                    <text>3</text>
                    <text>gastropub</text>
                    <text>wolf</text>
                </page>
            </chapter>
        </section>
        <section id="s_6" name="Section 3">
            <chapter id="c_16" name="Chapter 1">
                <page id="p_67" type="content">
                    <text>Letterpress</text>
                    <text>moon</text>
                    <text>wolf</text>
                    <text>ipsum</text>
                </page>
                <page id="p_68" type="content">
                    <text>tousled.</text>
                    <text>mixtape</text>
                    <text>pok</text>
                    <text>ipsum</text>
                    <text>rights</text>
                    <text>pok</text>
                    <text>mumblecore.</text>
                    <text>mixtape</text>
                    <text>stumptown</text>
                </page>
            </chapter>
            <chapter id="c_17" name="Chapter 2">
                <page id="p_69" type="content">
                    <text>slow-carb</text>
                    <text>letterpress</text>
                    <text>neutra</text>
                    <text>mustache,</text>
                    <text>rights</text>
                    <text>dolor</text>
                    <text>swag</text>
                    <text>Lyft</text>
                </page>
                <page id="p_70" type="content"></page>
                <page id="p_71" type="content"></page>
                <page id="p_72" type="content">
                    <text>ipsum</text>
                    <text>mumblecore.</text>
                    <text>mustache</text>
                </page>
                <page id="p_73" type="content">
                    <text>tousled.</text>
                    <text>stumptown</text>
                    <text>letterpress</text>
                    <text>authentic.</text>
                </page>
                <page id="p_74" type="content">
                    <text>pok</text>
                    <text>amet</text>
                    <text>amet</text>
                    <text>mustache</text>
                </page>
                <page id="p_75" type="content">
                    <text>mixtape</text>
                    <text>Lyft</text>
                </page>
            </chapter>
            <chapter id="c_18" name="Chapter 3">
                <page id="p_76" type="content">
                    <text>meggings</text>
                    <text>Lyft</text>
                    <text>pok</text>
                </page>
                <page id="p_77" type="content">
                    <text>lyft</text>
                    <text>gastropub</text>
                    <text>Lyft</text>
                    <text>slow-carb</text>
                    <text>typewriter</text>
                    <text>tumeric</text>
                    <text>pok</text>
                    <text>pok</text>
                    <text>gastropub</text>
                </page>
                <page id="p_78" type="content">
                    <text>ipsum</text>
                    <text>iPhone</text>
                    <text>semiotics</text>
                    <text>bag.</text>
                    <text>bag.</text>
                </page>
                <page id="p_79" type="content">
                    <text>pok</text>
                    <text>Lyft</text>
                    <text>Fingerstache</text>
                    <text>typewriter</text>
                    <text>letterpress</text>
                    <text>authentic.</text>
                    <text>letterpress</text>
                    <text>gastropub</text>
                    <text>crucifix</text>
                    <text>meggings</text>
                </page>
                <page id="p_80" type="content">
                    <text>pok</text>
                    <text>Letterpress</text>
                    <text>bicycle</text>
                    <text>mumblecore.</text>
                    <text>rights</text>
                </page>
                <page id="p_81" type="content">
                    <text>tote</text>
                    <text>gastropub</text>
                    <text>cloud</text>
                </page>
                <page id="p_82" type="content">
                    <text>Lorem</text>
                    <text>green</text>
                    <text>pok</text>
                    <text>Letterpress</text>
                    <text>tote</text>
                    <text>dolor</text>
                    <text>tumeric</text>
                    <text>pok</text>
                </page>
            </chapter>
            <chapter id="c_19" name="Chapter 4">
                <page id="p_83" type="content"></page>
                <page id="p_84" type="content">
                    <text>mixtape</text>
                    <text>typewriter</text>
                    <text>Fingerstache</text>
                    <text>whatever</text>
                    <text>letterpress</text>
                    <text>authentic,</text>
                    <text>whatever</text>
                    <text>pok</text>
                </page>
                <page id="p_85" type="content">
                    <text>crucifix</text>
                    <text>typewriter</text>
                    <text>pok</text>
                </page>
            </chapter>
            <chapter id="c_20" name="Chapter 5">
                <page id="p_86" type="content"></page>
                <page id="p_87" type="content">
                    <text>crucifix</text>
                    <text>Lorem</text>
                    <text>Lorem</text>
                    <text>green</text>
                    <text>crucifix</text>
                    <text>bag.</text>
                    <text>amet</text>
                    <text>tote</text>
                    <text>letterpress</text>
                </page>
                <page id="p_88" type="content">
                    <text>Lorem</text>
                    <text>ipsum</text>
                    <text>cray</text>
                    <text>neutra</text>
                    <text>snackwave</text>
                    <text>Lorem</text>
                    <text>snackwave</text>
                    <text>amet</text>
                </page>
                <page id="p_89" type="content">
                    <text>snackwave</text>
                    <text>Lyft</text>
                    <text>mumblecore.</text>
                    <text>gluten-free</text>
                    <text>dolor</text>
                </page>
                <page id="p_90" type="content">
                    <text>chartreuse</text>
                    <text>wolf</text>
                    <text>3</text>
                </page>
            </chapter>
        </section>
    </module>
</book>